// Default
$color-default-black:             #000000;
$color-default-white:             #ffffff;
$color-transparent:               rgba(255, 255, 255, 0);

// Base
$color-gray-light:                #aaaaaa;
$color-text:                      #767676;
$color-blue-dark:                 #282936;
$color-black:                     #212121;
$color-red:                       #df0211;
$color-yellow:                    #f7be27;
$color-gray-dark:                 #333333;
$color-cofee:                     #572c1f;
$color-transparent:               rgba(0, 0, 0, 0);
$color-black-bg:                  rgba(24, 24, 24, 1);

// Typography

$font-family-primary:                "OpenSans", "Helvetica", Arial, sans-serif;
$font-family-secondary:              "Arimo", "Helvetica", Arial, sans-serif;

$font-size:                         14px;
$line-height:                       1.3;


// Animation
//-------------------

$default-transition-settings:       0.3s ease-in-out;

// screen
//-------------------

$screen-sm:                         479px;
$screen-md:                         767px;
$screen-lg:                         1023px;
$screen-xl:                         1169px;
$screen-xxl:                        1920px;

// Retina
//-------------------


$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;

// Container
//-------------------

$container:                         1170px;
